<div id="contact-page" class="container">
    		<div class="row">  	
	    		<div class="col-sm-12">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Cadastro de Produtos</h2>
	    				<p>
							<span class='flash-notice'><%= flash[:notice] %></span>
						</p>
	    				<div class="status alert alert-success" style="display: none"></div>
					    	<%= form_for(@produto, :url => { :action => :cadastrarProduto }, :html => { :multipart => true }) do |f| %>
					              
					            <div class="form-group col-md-12">
					            	  <p> Em Destaque </p> 
					                  <%= f.check_box :destaque, class: 'checkbox-inline' %>
					            </div>
					             <div class="form-group col-md-12">
					                  <p> Visível </p> 
					                  <%= f.check_box :visivel, class: 'checkbox-inline' %>
					            </div>
								<div class="form-group col-md-6">
									<p> Nome do Produto *</p> 
					                <%= f.text_field :nome, class: 'form-control' %>
					            </div>
					            <div class="form-group col-md-6">
									<p> Categoria *</p> 
									<%= f.select :categoria, Produto::CATEGORIAS, {:prompt => "Selecione"}, { class: 'form-control'} %>
					            </div>
					            <div class="form-group col-md-4">
					                <p> Garantia *</p>
									<%= f.text_field :garantia, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Potência *</p>
					                <%= f.text_field :potencia, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Tensão *</p>
					                <%= f.text_field :tensao, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Base</p>
					                <%= f.text_field :base, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Fluxo Luminoso *</p>
					                <%= f.text_field :fluxo_luminoso, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Lente *</p>
					                <%= f.text_field :lente, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Dimensões *</p>
					                <%= f.text_field :dimensoes, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Temperatura da Cor *</p>
					                <%= f.text_field :temperatura_cor, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Facho</p>
					                <%= f.text_field :facho, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Durabilidade</p>
					                <%= f.text_field :durabilidade, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Quantidade *</p>
					                <%= f.text_field :quantidade, class: 'form-control' %>
								</div>
								<div class="form-group col-md-4">
					                <p> Preço Unitário *</p>
					                <%= f.text_field :preco_unitario, class: 'form-control', id: 'preco_unitario' %>
								</div>
					            <div class="form-group col-md-12">
					                <p> Descrição *</p>
					                <%= f.text_area :descricao, :rows => 8, :class => 'form-control'  %>
								</div>
					            <div class="form-group col-md-12">
									<%= f.label :imagem %><br />
									<%= f.file_field :imagem %>
								</div>	                        
					            <div class="form-group col-md-12">
					                <%= submit_tag "Cadastrar Produto", class: 'btn btn-primary pull-right' %>
					                <input type="submit" name="reset" class="btn btn-primary pull-right" value="Cancelar">
					            </div>
					        <% end %>
	    			</div>
	    		</div>
	       	</div>  
    </div>