<script>
$(document).ready(
		function(){
			
			
			
			$("#perfil").change(
				function(){
					
					var opcaoperfil = $("#perfil").val();
					
						$.ajax( { 
							type : "POST",
							url : "/usuario/retornalistausuarios",
							data : {'perfil': opcaoperfil 
							},
							success : function(dados){
							$("#usuario").html(dados);
							}

						});	
					});
			});
</script>
<script>
$(document).ready(
		function(){
			
			$("#lista_usuarios").change(
				function(){
						$.ajax( { 
							type : "POST",
							url : "/usuario/",
							data : {
							
							},

				});	
			});
		});	
</script>
<div id="contact-page" class="container">
    		<div class="row">  	
	    		<div class="col-sm-12">
	    			<div class="contact-form">
				<h2 class="title text-center">Alterar Perfil de Acesso</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
				    	 <%= form_tag :action => "alterarperfilacesso" do %>
				    	
				            <div class="form-group col-md-6">
								<p> Tipo de Perfil</p>
				                <%= select_tag :perfil, options_for_select(Usuario::PERFIL), class: 'form-control', id: 'perfil' %>
				            </div>
				         
							<div class="form-group col-md-6">
				                <p> Lista de Usuarios</p>
				                 <%= select_tag "usuario", options_from_collection_for_select(@usuarios, "id", "nome"), multiple: true, id: 'usuario' %>
							</div>
							<div class="form-group col-md-4">
				                <p> Alterar Perfil Para</p>
				                <%= select_tag 'novo_perfil', options_for_select(Usuario::PERFIL), class: 'form-control' %>
							</div>
				            <div class="form-group col-md-12">
				                 <%= submit_tag "Alterar", class: 'btn btn-primary'  %>
				                <input type="submit" name="reset" class="btn btn-primary pull-right" value="Cancelar">
				            </div>
				        <% end %>
	    			</div>
	    		</div>
	    		    			
	    	</div>  
    	
    </div>