<script>
$(document).ready(function(){
  $("#telefone_residencial").mask("(99) 9999-9999");
  $("#telefone_celular").mask("(99) 99999-9999");
  
  
});
</script>

<div id="contact-page" class="container">
    		<div class="row">  	
	    		<div class="col-sm-12">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Cadastro de Clientes</h2>
	    				<p>
							<span class='flash-notice'><%= flash[:notice] %></span>
						</p>
	    				<div class="status alert alert-success" style="display: none"></div>
				    	<%= form_for(@usuario, :url => { :action => :cadastrarusuario }, :html => { :multipart => true }) do |f| %>
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
				            <div class="form-group col-md-9">
								<p> Nome *</p>
								<%= f.text_field :nome, class: 'form-control' %>      
				            </div>
				            <div class="form-group col-md-3">
								<p> Sexo *</p> 				
								
								<%= f.radio_button :sexo, "F", class: 'checkbox-inline' %> Feminino
							
								<%= f.radio_button :sexo, "M", class: 'checkbox-inline' %> Masculino
							</div>
				            <div class="form-group col-md-4">
				                <p> CPF *</p>
				                <%= f.text_field :cpf, class: 'form-control', :maxlength => 11, id: 'cpf' %>
				            </div>
							<div class="form-group col-md-4">
				                <p> RG *</p>
				                <%= f.text_field :rg, class: 'form-control', :maxlength => 9, id: 'rg'%>
							</div>
							<div class="form-group col-md-4">
				                <p> E-Mail *</p>
				                <%= f.text_field :email, class: 'form-control' %>
							</div>
							<div class="form-group col-md-8">
				                <p> Endereço Residencial *</p>
				                <%= f.text_field :logradouro, class: 'form-control' %>
							</div>
							<div class="form-group col-md-4">
				                <p> CEP</p>
				                <%= f.text_field :cep, class: 'form-control', :maxlength => 8 %>
							</div>
							<div class="form-group col-md-3">
				                <p> Número *</p>
				                <%= f.text_field :numero, class: 'form-control' %>
							</div>
							<div class="form-group col-md-3">
				                <p> Complemento</p>
				                <%= f.text_field :complemento, class: 'form-control' %>
							</div>
							<div class="form-group col-md-3">
				                <p> UF *</p>
								<%= f.select :uf, Usuario::UF, {:prompt => "Selecione"}, { class: 'form-control'}%>
							</div>
							<div class="form-group col-md-3">
				                <p> Municipio *</p>
				                <%= f.text_field :municipio, class: 'form-control' %>
							</div>
							<div class="form-group col-md-6">
				                <p> Telefone Residencial *</p>
				                 <%= f.text_field :telefone_residencial, class: 'form-control', :id => 'telefone_residencial'%>
							</div>
							<div class="form-group col-md-6">
				                <p> Telefone Celular</p>
				                 <%= f.text_field :telefone_celular, class: 'form-control', :id => 'telefone_celular'%>
							</div>   
							<div class="form-group col-md-6">
				                <p> Senha de Acesso *</p>
				                 <%= f.password_field :senha, class: 'form-control' %>
							</div>                        
				            <div class="form-group col-md-12">
				                 <%= submit_tag "Finalizar Cadastro", class: 'btn btn-primary' %>
				                 <div class="espacamento_botoes"></div>
				                <input type="submit" name="reset" class="btn btn-primary " value="Cancelar">
				            </div>
				        <% end %>
	    			</div>
	    		</div>
	    		    			
	    	</div>  
    	
    </div>