<section id="cart_items">
	<script type="text/javascript">
	//função 'main' do JQuery
	$(document).ready(
		function(){			
			//Aplicar validação ao formulário de cadastro
		
			$("#modal_detalhes_pedido").dialog( 
{ autoOpen : false, modal : true,   maxWidth:800,
                    maxHeight: 500,
                    width: 800,
                    height: 500,
                    modal: true, } );
			$("#modal_detalhes_usuario").dialog( 
{ autoOpen : false, modal : true ,  
					maxWidth:800,
                    maxHeight: 500,
                    width: 800,
                    height: 500,
                    modal: true,} );
					 	
			//Evento Click para o botão 'btnOpcao'
			
		}
	);	
</script>

<script type="text/javascript">

$(document).ready(
		function(){

$(".detalhes_usuario :button").click(
				function(){
					
					var valorbotao = $(this).attr('value');
					
						$.ajax( { 
							type : "POST",
							url : "/pedido/detalharusuario",
							data : {'id': valorbotao 
							},
							success : function(dados){
							$("#modal_detalhes_usuario").html(dados);
							$("#modal_detalhes_usuario").dialog("open");
							}

						});	
					});



$(".detalhes_pedido :button").click(
				function(){
					
					var valorbotao = $(this).attr('value');
					
						$.ajax( { 
							type : "POST",
							url : "/pedido/detalharpedido",
							data : {'id': valorbotao 
							},
							success : function(dados){
							$("#modal_detalhes_pedido").html(dados);
							$("#modal_detalhes_pedido").dialog("open");
							}

						});	
					});








});




</script>
<div id="contact-page" class="container">
			<div class="row">			
					<div class="col-sm-12">
	    			<div class="contact-form">	
					<h2 class="title text-center">Consulta de Pedidos</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
					    	<%= form_tag :action => :consultarpedido %>					                           
					    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
					            
					            <div class="form-group col-md-3">
									<p> Status</p> 
									
									<%= 
									@status = [{"name"=>"Pagamento Pendente", "id"=>"P"}, {"name"=>"Pagamento Realizado", "id"=>"R"}, {"name"=>"Entrega Concluida", "id"=>"E"}]

									select_tag "status", options_for_select(@status.collect {|p| [ p['name'], p['id'] ] }), class: 'form-control' %>
									
					            </div>
					            <div class="form-group col-md-6">
					            <p> Período de Compra Entre:</p>
					            <div class="col-md-6">
									<%= date_field_tag 'data_inicio', nil , :class => 'form-control' %>
								</div>			
	            				<div class="col-sm-6">
									
									<%= date_field_tag 'data_fim', nil , :class => 'form-control' %>
									
								</div>
								</div>
								<div class="form-group col-md-3">
					               <% if session["PERFIL_USUARIO"] == "FUN" || session["PERFIL_USUARIO"] == "ADM"  %>   
					                <p> CPF do Cliente</p>
					                
					                <%= text_field_tag 'nome', nil , :class => 'form-control' %>
					                <% end %>
								</div>	
								
								
								<div class="form-group col-md-12">
					                <%= submit_tag "Consultar Pedido", class: 'btn btn-primary pull-right' %>
					                
					            </div>
					       
	    				</div>
					</div>			
														
										
										
										
										
										<table class="table table-condensed">
											<thead>
												<tr class="cart_menu">
													<td class="">#</td>
													<td class="">Status</td>
													<td class="">Data de Compra</td>
													<% if session["PERFIL_USUARIO"] == "FUN" || session["PERFIL_USUARIO"] == "ADM"  %>   
													<td class="">CPF do Cliente</td>
													<% end %>
													<td class="">Detalhes</td>
													<td></td>
												</tr>
											</thead>
											<tbody>
												<% 
												
												if @lista_pedido.nil?
													@lista_pedido = Pedido.all
												end	
												
												for p in @lista_pedido%> 

												<tr>
													<td class="">
														<%= p.id %>
													</td>
													<td class="">
														<%= @status = [{"name"=>"Pagamento Pendente", "id"=>"P"}, {"name"=>"Pagamento Realizado", "id"=>"R"}, {"name"=>"Entrega Concluida", "id"=>"E"}]
														 @status.find {|x| x['id'] == p.status } ['name']%>
													</td>
													<td class="">
														 <%= p.datacompra.strftime("%d/%m/%Y") %>
													</td>
													<% if session["PERFIL_USUARIO"] == "FUN" || session["PERFIL_USUARIO"] == "ADM"  %>   
													<td class="detalhes_usuario">
														
														<button type="button" value= <%= p.usuario.id %> ><%= p.usuario.cpf %></button>
														
													</td>
													<% end %>
													<td class="detalhes_pedido">
														
														<button type="button" value= <%= p.id %> >Visualizar</button>
														
														
													</td>
													
												</tr>
												<% end %>
											</tbody>
											
										</table>
									</div>	
									<div id="modal_detalhes_usuario" title="Detalhes do Cliente">
										
										
									</div><!--/product-details-->
									<div id="modal_detalhes_pedido" title="Detalhes da Compra">
									</div>	

								</div>
							</div>					
						</div>
					</div>
					</div>
				</section>